<!DOCTYPE html>
<html lang="en-us" class="antialiased font-normal text-gray-700 bg-white">
    <head>
        {% include "head.njk" %}
        <link rel="stylesheet" href="/assets/site.css">
        <script src="/assets/site.js" defer></script>
    </head>
    <body class="bg-violet-100">
        <header role="banner" class="p-6">
            <div class="container">
                <a href="/" rel="home">{{ site.title }}</a>
            </div>
            <nav class="w-full flex sticky ">
                <ul>
                    <li><a href="/">home</a></li>
                    <li><a href="/galerie">galerie</a></li>
                </ul>
            </nav>
        </header>
        <main>
        <h1 class="text-regal-blue">Wii</h1>
            <p class="font-titre">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores autem cum cupiditate dolore dolorem expedita harum ipsa ipsam libero magni nulla praesentium quia, quibusdam repellendus soluta velit veniam voluptas voluptatibus!</p>
            <p class="md:font-bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci, deserunt error esse hic id incidunt ipsa magnam necessitatibus obcaecati optio perferendis, placeat? Cumque, eveniet fugit itaque officia quibusdam sunt.</p>
            {{ content | safe }}
        </main>
        <footer role="contentinfo">

        </footer>
    </body>
</html>
