---
layout: base.njk
title: Welcome
---

{%- from "macros.njk" import component -%}

<div class="p-6">
    <div class="container">
        {{ component("headings/title", { content: "Famille des Paridés" })}}
    </div>
    <img class="float-left" src="_assets/image/oiseau.jpg" alt="un paridé">
    <p>Les paridés sont des passereaux corpulents de taille petite à moyenne. La couleur de leur plumage résulte essentiellement de la combinaison de jaune, rouge, bleu, noir et blanc. Les parties colorées sont d'habitude bien tranchées et dépourvues de stries ou taches. Leur bec est droit, assez court mais puissant. C'est un outil qui leur permet de percer l'enveloppe des graines dures, de creuser le bois mort, etc. Leurs pattes, robustes et griffues, est une adaptation au milieu arboré. Elles leur permettent de s'agripper aux branches et d'explorer les ligneux dans toutes les positions et situations, y compris la tête en bas. Elles maintiennent également entre les griffes la nourriture qui est attaquée du bec. Leur reproduction est cavernicole. Suivant les cas et les espèces, la cavité de nidification préexiste ou bien est creusée avec le bec."
    </p>
</div>